.about {
    display: flex;
    justify-content: center;
    padding: 4em 8em;
    background-color: var(--background-portfolio);
}

.container {
    max-width: 80em;
}

.text {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--skills-main-text);
}

@media screen and (max-width: 575px) {
    .about {
        padding: 2em 2em 1.5em 2em;
    }
}