.skill {
    display: flex;
    flex-direction: column;
    flex: 1 1 30em;
    min-height: 30em;
}

.iconWrapper {
    display: flex;
}

.skillProgress {
    margin-bottom: 0.5em;
    line-height: 1.25em;
    color: var(--skills-progress-title);
}

.content {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--skills-main-text);
}